p{
    font-size: 20px;
    margin-left: 1.5em;
}
h3, h4{
    margin-left: .5em;
}
.container{
    display:flex;
    margin: .5em;
    padding: 10%;
}
#sunrise-profile {
 max-width: 30%;
 max-height: 50%;
}
.column-1 {
    flex-shrink: 0; /* shrinks to 0 to apply 70% width*/
    flex-basis: 50%; /* sets initial width to 70% */
}
  @media only screen and (max-width: 900px) {
    .container {
        /* it place the items in vertical direction */
      flex-direction: column;
    }
  
    .box {
      margin: .5 .5 .5rem;
      padding: 2px;
    }
  }
